{%extends 'blog/base.html' %}

{%block title%}Add a Blog{%endblock%}
{%block top%}
	<div class="wthree">
		<span class="heading">
			<h2>Add a New Blog</h2>
		</span>
		<hr/>
		<form method="POST" enctype="multipart/form-data">
			{%csrf_token%}
			{{form.non_field_errors}}
			<table>
				{{form.as_table}}
				<tr>
					<td colspan="2" align="center">
						<a href="{%url 'index' %}"><input type="button" value="cancel" /></a>
						&nbsp;&nbsp;
						<input type="submit" value="Add new Blog" />
					</td>
			</table>
			
		</form>
	</div>

	<!-- overright style of table -->
	<style>
		.heading{
			color:#fa4b2a;
			text-align:center;
		}
		hr{
			border-top:2px solid #fa4b2a;
		}
		td,th{
			padding:20px;
			vertical-align: middle;
		}
		th{
			text-align:right;
		}
		a{
			color:#333333;
		}
	</style>
{%endblock%}