<!DOCTYPE HTML>
{% load static %}
<html>
	<head>
	<title>{% block title %}Blog{%endblock%}</title>
	{% include 'blog/external_files.html' %}
	
</head>
<body>
	{% include 'blog/header.html' %}

	<!-- { include 'blog/banner.html' %} -->

	

	<!-- technology-left -->
	<div class="technology">
		<div class="container">
			{%block top%}
				<div class="col-md-9 technology-left">
					<div class="tech-no">
						{% block main %}
							{% include 'blog/tech-left.html'%}
						{% endblock %}
					</div>
				</div>

				{% include 'blog/tech-right.html'%}
			{%endblock%}
		</div>
	</div>
	{% include 'blog/footer.html' %}

	
</body>
</html>