{%load static%}<!-- Footer -->
<div class="footer">
	<div class="container">
		<div class="col-md-4 footer-left wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
			<h4>About Me</h4>
			<p>Consectetur adipisicing Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod .</p>
			<img src="{% static 'images/t4.jpg'%}" class="img-responsive" alt="">
				<div class="bht1">
					<a href="singlepage.html">Read More</a>
				</div>
		</div>
		<div class="col-md-4 footer-middle wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
		<h4>Latest Tweet</h4>
		<div class="mid-btm">
			<p>Sed do eiusmod tempor Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod .</p>
			<a href="https://w3layouts.com/">https://w3layouts.com/</a>
		</div>
		
			<p>Consectetur adipisicing Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod .</p>
			<a href="https://w3layouts.com/">https://w3layouts.com/</a>
	
		</div>
		<div class="col-md-4 footer-right wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
			<h4>Newsletter</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
					<div class="name">
						<form action="{% url 'newsletter' %}" method="post">
							{% csrf_token%}
							<input type="text" placeholder="Your Name" name="name" required="">
							<input type="text" placeholder="Your Email" name="email" required="">
							<input type="submit" value="Subscribed Now">
						</form>
					
					</div>	
					
						<div class="clearfix"> </div>
				
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<div class="copyright wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
	<div class="container">
		<p>© 2016 Style Blog. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
	</div>
</div>