{% extends 'blog/base.html' %}

{%block title %}Welcome to my blog{%endblock%}

{% block main %}
	{%if blogs%}
		{%for blog in blogs%}
			<div class="wthree">

			 	<div class="col-md-6 wthree-left wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
					<div class="tch-img">
						<a href="{%url 'single' blog.slug %}"><img src="{{blog.image.url}}"  class="img-responsive" alt=""></a>
					</div>
			 	</div>

			 	<div class="col-md-6 wthree-right wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
					<h3><a href="{%url 'single' blog.slug %}">{{blog.title}}</a></h3>
					<h6>BY <a href="{%url 'author' blog.author.slug %}">{{blog.author}} </a>{{blog.created_on.date}}.</h6>
					<p>{{blog.content|truncatewords:30}}</p>
							
					<div class="bht1">
						<a href="{%url 'single' blog.slug %}">Read More</a>
					</div>
							
					<div class="soci">
						<ul>
							<li class="hvr-rectangle-out"><a class="goog" href="#"></a></li>	
							<li class="hvr-rectangle-out"><a class="fb" href="#"></a></li>
						</ul>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		{% endfor %}

		<!-- Pagination 1 2 3 .. -->
		<div class="pagination">
		    <span class="step-links">
		        {% if blogs.has_previous %}
		            <a href="?page={{ blogs.previous_page_number }}">previous</a>
		        {% endif %}

		        <span class="current">
		            Page {{ blogs.number }} of {{ blogs.paginator.num_pages }}.
		        </span>

		        {% if blogs.has_next %}
		            <a href="?page={{ blogs.next_page_number }}">next</a>
		        {% endif %}
		    </span>
		</div>

	{%else%}
		<h2>No Blog Written so Far</h2>
	{% endif%}
{% endblock %}


 		