{% extends 'blog/base.html' %}

{%block main%}

	{%if blogs%}
		<div class="tc-ch wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
			<h2 style="color:#fa4b2a">Search result for <a href="#">{{query}}</a></h2>
		</div>
		{%for blog in blogs%}
			<div class="wthree">

			 	<div class="col-md-6 wthree-left wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
					<div class="tch-img">
						<a href="{%url 'single' blog.slug %}"><img src="{{blog.image.url}}"  class="img-responsive" alt=""></a>
					</div>
			 	</div>
			 	
				<div class="col-md-6 wthree-right wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
					<h3><a href="{%url 'single' blog.slug %}">{{blog.title}}</a></h3>
					<h6>BY <a href="{%url 'single' blog.slug %}">{{blog.author}} </a>{{blog.created_on.date}}</h6>
					<p>{{blog.content|truncatewords:30}}</p>
					<div class="bht1">
						<a href="{%url 'single' blog.slug %}">Read More</a>
					</div>
					<div class="soci">
						<ul>
							
							<li class="hvr-rectangle-out"><a class="twit" href="#"></a></li>
							<li class="hvr-rectangle-out"><a class="pin" href="#"></a></li>
						</ul>
					</div>
					<div class="clearfix"></div>
				
			 	</div>
				<div class="clearfix"></div>
			</div>
			
			<!--{{blog.title}}-->
		{% endfor %}
	{%else%}
		<div class="tc-ch wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
			<h2 style="color:#fa4b2a">No Blog Found for <a href="#">{{query}}</a></h2>
		</div>
	{% endif%}

{% endblock%}
