{% extends 'blog/base.html' %}

{%block title %}{{blog.title}}{%endblock%}

{% block main%}
	{%if blog%}
		<div class="tc-ch wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">

			<div class="tch-img">
				<a href="singlepage.html"><img src="{{blog.image.url}}" class="img-responsive" alt=""></a>
			</div>
		
			<h3><a href="#">{{blog.title}}</a></h3>
			<h6>BY <a href="#">{{blog.author}}{{c}}</a> {{blog.created_on.date}}</h6>
			<br />
			<p>{{blog.content}}
			</p>
			<div>
				<p style="text-align:left"><span class="glyphicon glyphicon-s"></span>&nbsp;
				{% for tag in blog.tags.all %}
					<a href="{% url 'tag' tag.slug %}">{{tag}}, </a>
				{% empty %}
					jai shree ram
				{% endfor %}
				<span style="float:right"><span class="glyphicon glyphicon-eye-open"></span>{{blog.views}}</span></p>
			</div>

			<div class="bht1">
				<a href="#">Continue Reading</a>
			</div>

			<div class="soci">
				<ul>
					<li class="hvr-rectangle-out"><a class="fb" href="#"></a></li>
					<li class="hvr-rectangle-out"><a class="twit" href="#"></a></li>
					<li class="hvr-rectangle-out"><a class="goog" href="#"></a></li>
					<li class="hvr-rectangle-out"><a class="pin" href="#"></a></li>
					<li class="hvr-rectangle-out"><a class="drib" href="#"></a></li>
				</ul>
			</div>
			<div class="clearfix"></div>

			<!-- Responses -->
			<div class="response " id="response">
				<h4>Responses</h4>

				<!-- Input form for Comment -->
				<form name="add-comment" method="POST">
					{%csrf_token%}
					<div class="row">
						<div class="col-xs-2">
							<div class="thumbnail">
								<img class=" img-responsive user-photo " src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
							</div><!-- /thumbnail -->
						</div><!-- /col-sm-1 -->
						<div class="col-xs-10">
							<input type="hidden" id="blog" value="{{blog.pk}}" />
							<textarea class="form-control" rows="4" name="text" id="text"></textarea>
						</div>
						<div class="pull-right" style="padding:15px">
							<button id="submit" type="submit" class="btn btn-info add-comment-btn" style="background: #fa4b2a; border:0px">Comment</button>
						</div>
					</div>
				</form>
				<!-- Input Form over -->

				<!-- Show Comments -->
				{% for comment in comments %}
					<div class="row" id="comment-section">
						
						<div class="col-xs-2">
							<div class="thumbnail">
								<img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
							</div><!-- /thumbnail -->
						</div><!-- /col-sm-2 -->

						<div class="col-xs-10">
							<div class="panel panel-default">
								<div class="panel-heading">
									<strong>{{comment.user}} </strong>&nbsp; <span class="text-muted" style="font-size:.8em"> {{comment.datetime|timesince}} ago</span>
								</div>
								<div class="panel-body">
									{{comment.comment}}
								</div><!-- /panel-body -->
							</div><!-- /panel panel-default -->
						</div><!-- /col-sm-10 -->
							
					</div><!-- show comments ends -->
				{%endfor%}
			</div><!-- response ends -->
		</div>
		<div class="clearfix"></div>

		
	{%else%}
		<h2>Blog Not Found</h2>
	{% endif%}

	<!-- Similar Posts you may like to read -->
	<div class="w3ls ">
		<div class="heading">
			<h2>You may also like to read</h2>
		</div>
		{%for blog in similar%}
			<div class="col-md-6 w3ls-left wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
				<div class="tc-ch">
					<div class="tch-img">
						<a href="{%url 'single' blog.slug%}">
						<img src="{{blog.image.url}}" class="img-responsive" alt=""></a>
					</div>
			
					<h3><a href="{%url 'single' blog.slug%}">{{blog.title}}</a></h3>
					<h6>BY <a href="{%url 'author' blog.author.slug%}">{{blog.author}} </a></h6>
					<p>{{blog.content | truncatewords:4}}</p>
					<div class="bht1">
						<a href="{%url 'single' blog.slug%}">Read More</a>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		{%endfor%}
	</div>

<style>

.heading{
	background:#fff;
 	padding:2em 0 0 2em;
 	color:#fa4b2a;
 }
.thumbnail {
    padding:0px;
}
.panel {
	position:relative;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
	position:absolute;
	top:11px;left:-16px;
	right:100%;
	width:0;
	height:0;
	display:block;
	content:" ";
	border-color:transparent;
	border-style:solid solid outset;
	pointer-events:none;
}
.panel>.panel-heading:after{
	border-width:7px;
	border-right-color:#f7f7f7;
	margin-top:1px;
	margin-left:2px;
}
.panel>.panel-heading:before{
	border-right-color:#ddd;
	border-width:8px;
}
</style>

<script>
//For getting CSRF token
function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
               var cookie = jQuery.trim(cookies[i]);
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) == (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
             }
          }
      }
 return cookieValue;
}


$('#submit').click(function(e){
	 e.preventDefault();

	//Prepare csrf token
 	var csrftoken = getCookie('csrftoken');
 	var text=$("#text").val();
 	var blogPK=$("#blog").val();
 	if (text==""){
 		alert("Please Enter Valid Comment");
 	}
 	else{
		$.ajax({
	 		url:'/blog/ajax/add_comment/',
	 		//url:window.location.href,
	 		data:{
	 			csrfmiddlewaretoken:csrftoken,
	 			comment:text,
	 			blogPK:blogPK
	 		},
	 		type:"POST",
	 		success:function(data){
	 			//$('#response').load(document.URL +  '#response');
	 			$('#response').load(' #response', function(){$(this).children().unwrap()})
	 		},
	 		error:function(data){
	 			alert("Something Went Wrong. Try Again Later")
	 		}
	 	});
 	}

 })
 </script>
{% endblock %}


	<!-- single top -->		
