{%load static%}

<!-- single top -->		
	<div class="tc-ch wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">

		<div class="tch-img">
			<a href="singlepage.html"><img src="{% static 'images/t4.jpg' %}" class="img-responsive" alt=""></a>
		</div>
	
		<h3><a href="singlepage.html">Lorem Ipsum is simply</a></h3>
		<h6>BY <a href="singlepage.html">ADAM ROSE </a>JULY 10 2016.</h6>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud eiusmod tempor incididunt ut labore et dolore magna aliqua exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		<p>Ut enim ad minim veniam, quis nostrud eiusmod tempor incididunt ut labore et dolore magna aliqua exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		<div class="bht1">
			<a href="singlepage.html">Continue Reading</a>
		</div>

		<div class="soci">
			<ul>
				<li class="hvr-rectangle-out"><a class="fb" href="#"></a></li>
				<li class="hvr-rectangle-out"><a class="twit" href="#"></a></li>
				<li class="hvr-rectangle-out"><a class="goog" href="#"></a></li>
				<li class="hvr-rectangle-out"><a class="pin" href="#"></a></li>
				<li class="hvr-rectangle-out"><a class="drib" href="#"></a></li>
			</ul>
		</div>
		<div class="clearfix"></div>
</div>
<div class="clearfix"></div>

<!-- Double -->
<div class="w3ls">
	<div class="col-md-6 w3ls-left wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
		<div class="tc-ch">
			<div class="tch-img">
				<a href="singlepage.html">
				<img src="images/m4.jpg" class="img-responsive" alt=""></a>
			</div>
	
			<h3><a href="singlepage.html">Lorem Ipsum is simply</a></h3>
			<h6>BY <a href="singlepage.html">ADAM ROSE </a>JULY 10 2016.</h6>
			<p>Ut enim ad minim veniam, quis nostrud eiusmod tempor incididunt ut labore et dolore magna aliqua exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			<div class="bht1">
				<a href="singlepage.html">Read More</a>
			</div>
			<div class="soci">
				<ul>
					<li class="hvr-rectangle-out"><a class="fb" href="#"></a></li>
					<li class="hvr-rectangle-out"><a class="pin" href="#"></a></li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="col-md-6 w3ls-left wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
		<div class="tc-ch">
			<div class="tch-img">
				<a href="singlepage.html"><img src="images/m5.jpg" class="img-responsive" alt=""></a>
			</div>
	
			<h3><a href="singlepage.html">Lorem Ipsum is simply</a></h3>
			<h6>BY <a href="singlepage.html">ADAM ROSE </a>JULY 10 2016.</h6>
			<p>Ut enim ad minim veniam, quis nostrud eiusmod tempor incididunt ut labore et dolore magna aliqua exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			<div class="bht1">
				<a href="singlepage.html">Read More</a>
			</div>
			<div class="soci">
				<ul>
					<li class="hvr-rectangle-out"><a class="twit" href="#"></a></li>
					<li class="hvr-rectangle-out"><a class="drib" href="#"></a></li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>

<!-- continous three  -->
<div class="wthree">
	 <div class="col-md-6 wthree-left wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
		<div class="tch-img">
				<a href="singlepage.html"><img src="images/f1.jpg" class="img-responsive" alt=""></a>
			</div>
	 </div>
	 <div class="col-md-6 wthree-right wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
			<h3><a href="singlepage.html">Lorem Ipsum is simply</a></h3>
			<h6>BY <a href="singlepage.html">ADAM ROSE </a>JULY 10 2016.</h6>
				<p>Ut enim ad minim veniam, quis nostrud eiusmod tempor incididunt ut labore et dolore magna aliqua exercitation ullamco laboris .</p>
				<div class="bht1">
					<a href="singlepage.html">Read More</a>
				</div>
				<div class="soci">
					<ul>
						
						<li class="hvr-rectangle-out"><a class="twit" href="#"></a></li>
						<li class="hvr-rectangle-out"><a class="pin" href="#"></a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
		
	 </div>
		<div class="clearfix"></div>
</div>
<div class="wthree">
	 <div class="col-md-6 wthree-left wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
		<div class="tch-img">
				<a href="singlepage.html"><img src="images/f2.jpg" class="img-responsive" alt=""></a>
			</div>
	 </div>
	 <div class="col-md-6 wthree-right wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
			<h3><a href="singlepage.html">Lorem Ipsum is simply</a></h3>
			<h6>BY <a href="singlepage.html">ADAM ROSE </a>JULY 10 2016.</h6>
				<p>Ut enim ad minim veniam, quis nostrud eiusmod tempor incididunt ut labore et dolore magna aliqua exercitation ullamco laboris .</p>
				<div class="bht1">
					<a href="singlepage.html">Read More</a>
				</div>
				<div class="soci">
					<ul>
						<li class="hvr-rectangle-out"><a class="goog" href="#"></a></li>									
						<li class="hvr-rectangle-out"><a class="fb" href="#"></a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
		
	 </div>
		<div class="clearfix"></div>
</div>
<div class="wthree">
	<div class="col-md-6 wthree-left wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
		<div class="tch-img">
				<a href="singlepage.html"><img src="{% static 'images/f3.jpg' %}" class="img-responsive" alt=""></a>
			</div>
	</div>
	<div class="col-md-6 wthree-right wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
		<h3><a href="singlepage.html">Lorem Ipsum is simply</a></h3>
		<h6>BY <a href="singlepage.html">ADAM ROSE </a>JULY 10 2016.</h6>
			<p>Ut enim ad minim veniam, quis nostrud eiusmod tempor incididunt ut labore et dolore magna aliqua exercitation ullamco laboris.</p>
			<div class="bht1">
				<a href="singlepage.html">Read More</a>
			</div>
			<div class="soci">
				<ul>
					<li class="hvr-rectangle-out"><a class="drib" href="#"></a></li>
					<li class="hvr-rectangle-out"><a class="goog" href="#"></a></li>
				</ul>
			</div>
			<div class="clearfix"></div>
	
	</div>
	<div class="clearfix"></div>
</div>


	