<!-- technology-right -->
<div class="col-md-3 technology-right">
	
	
	<div class="blo-top1">
				
		<div class="tech-btm">
			<div class="search-1 wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
				<form action="{% url 'search' %}" method="get">
					
					<input type="search" id="search-bar" name="search" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}" required="">
					<input type="submit" value=" ">
				</form>
			</div>

			<h4>Popular Posts </h4>

			
			{% for blog in popular %}
				<div class="blog-grids wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
					<div class="blog-grid-left">
						<a href="singlepage.html"><img src="{{blog.image.url}}" class="img-responsive" alt=""></a>
					</div>
					<div class="blog-grid-right">
						
						<h5><a href="{% url 'single' blog.slug %}">{{blog.title}}</a> </h5>
					</div>
					<div class="clearfix"> </div>
				</div>
			{% endfor %}

			<h4>Tags</h4>
			
			
			{% for tag in tagcloud %}
				<a href="{% url 'tag' tag.slug %}" style="font-size: {{ sizes|random }}em">{{tag.name}}</a>
			{% endfor %}

			<!--
			<div class="insta wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
				<h4>Instagram</h4>
				<ul>
					
					<li><a href="singlepage.html"><img src="images/t1.jpg" class="img-responsive" alt=""></a></li>
					<li><a href="singlepage.html"><img src="images/m1.jpg" class="img-responsive" alt=""></a></li>
					<li><a href="singlepage.html"><img src="images/f1.jpg" class="img-responsive" alt=""></a></li>
					<li><a href="singlepage.html"><img src="images/m2.jpg" class="img-responsive" alt=""></a></li>
					<li><a href="singlepage.html"><img src="images/f2.jpg" class="img-responsive" alt=""></a></li>
					<li><a href="singlepage.html"><img src="images/t2.jpg" class="img-responsive" alt=""></a></li>
					<li><a href="singlepage.html"><img src="images/f3.jpg" class="img-responsive" alt=""></a></li>
					<li><a href="singlepage.html"><img src="images/t3.jpg" class="img-responsive" alt=""></a></li>
					<li><a href="singlepage.html"><img src="images/m3.jpg" class="img-responsive" alt=""></a></li>
				</ul>
			</div>
			-->
		
		</div>
		
	</div>
</div>
<div class="clearfix"></div>
<!-- technology-right -->

<script>
$(document).ready(function(){
	/*suggestion_list=[];
	$('#search-bar').on('keyup',function(){
		query=$('#search-bar').val();
		$.ajax({
			url:'/blog/ajax/suggest/',
			data:{
				query:query,
			},
			type:"GET",
			success:function(data){
				suggestion_list=data.sug
				console.log(suggestion_list)
			},
			error:function(data){
				alert("Riya Sinha")
			}
		});	
	});

	$('#search-bar').autocomplete({
		//source: ["c++", "java", "php", "coldfusion", "javascript", "asp", "ruby"],
		source:do_update(),
	});
	function do_update(){
		alert(suggestion_list)
		return suggestion_list
	};*/
	

	/*
	final 
	var list=["java","php"];

	function do_update(){
		$.ajax({
			url:'/blog/ajax/all/',
			data:{
				d:'d',
			},
			type:"GET",
			success:function(data){
				//alert("rome")
				list=data.blog
				l=improve_list(list)
				list=l
				console.log(list)

			},
			error:function(date){
				alert("er")
			},
		});
		//list=["c++", "java", "php", "coldfusion", "javascript", "asp", "ruby"];
		console.log("This is main"+list)
		return list
	};

	function improve_list(list){
		l=[];
		for(i=0;i<list.length;i++)
			l.push(list[i][0])
		return l
	};
	
	$('#search-bar').autocomplete({
		//source: ["c++", "java", "php", "coldfusion", "javascript", "asp", "ruby"],
		source:function(request,response){
			$.ajax({
				url:'/blog/ajax/all/',
				data:{
					d:request.term,
				},
				type:"GET",
				success:function(data){
					//alert("rome")
					list=data.blog
					l=improve_list(list)
					list=l
					response(list)
					console.log(list)

				},
				error:function(date){
					alert("er")
				},
			});
		}
	});
	*/	
	

	
})
</script>