{%extends 'blog/base.html'%}

{% block title%}Dashboard{%endblock%}

{% block top %}
	
	<div class="col-md-3 ">
		{%include 'dashboard/profile-sidebar.html'%}
	</div>
	<div class="col-md-9 ">
		<div class="wthree">
			<div class="heading">
				<h2>Dashboard</h2>
				<hr/>
			</div>

			<!-- Shows Publised Blog -->
			<div class="panel panel-default panel-table">
            	<div class="panel-heading">
                	<div class="row">
                  		<div class="col col-xs-6">
                    		<h3 class="panel-title">Published Blog</h3>
                  		</div>
                  		<div class="col col-xs-6 text-right">
                    		<a href="{%url 'add' %}" type="button" class="btn btn-sm btn-primary btn-create">Create New</a>
                  		</div>
                	</div>
              	</div>
              	<div class="panel-body">
                	<table class="table table-striped table-bordered table-list">
                  		<thead>
                    		<tr>
                    			<th>Title</th>
                        		<th>Content</th>
                        		<th>Views</th>
 								<th>Options</th>
                        		<!--<th><em class="fa fa-cog"></em></th>-->
                        		
                        		
                    		</tr> 
                  		</thead>
                  		<tbody>
                  			{%for blog in blogs %}
	                          	<tr>	                            	
	                            	<td>
	                            		<a href="{%url 'single' blog.slug %}">{{blog.title}}</a></td>
	                            	<td>{{blog.content |truncatechars:50}}</td>
									<td>{{blog.views}}</td>
	                            	<td align="center">
	                              		<a href="{%url 'edit' blog.id %} " class="btn btn-default" ><em class="fa fa-pencil"></em></a>
	                              		<a href="{%url 'delete' blog.id %} " class="btn btn-danger" ><em class="fa fa-trash"></em></a>
	                              		
	                            	</td>
	                          	</tr>
	                          {%endfor%}
                        </tbody>
                	</table>
            
              	</div>
			</div><!-- panel -->

			<!-- show drafts -->
			<div class="panel panel-default panel-table">
            	<div class="panel-heading">
                	<div class="row">
                  		<div class="col col-xs-6">
                    		<h3 class="panel-title">Drafts</h3>
                  		</div>
                  		<div class="col col-xs-6 text-right">
                    		<a href="{%url 'add' %}" type="button" class="btn btn-sm btn-primary btn-create">Create New</a>
                  		</div>
                	</div>
              	</div>
              	<div class="panel-body">
              	{%if drafts%}
                	<table class="table table-striped table-bordered table-list">
                  		<thead>
                    		<tr>
                    			<th>Title</th>
                        		<th>Content</th>
                        		<th>Views</th>
 								<th>Options</th>
                        		<!--<th><em class="fa fa-cog"></em></th>-->
                        		
                        		
                    		</tr> 
                  		</thead>
                  		<tbody>
                  			{%for draft in drafts %}
	                          	<tr>	                            	
	                            	<td>
	                            		<a href="{%url 'single' draft.slug %}">{{draft.title}}</a></td>
	                            	<td>{{draft.content |truncatechars:50}}</td>
									<td>{{draft.views}}</td>
	                            	<td align="center">
	                              		<a href="{%url 'edit' draft.id %} " class="btn btn-default" ><em class="fa fa-pencil"></em></a>
	                              		<a href="{%url 'delete' draft.id %} " class="btn btn-danger" ><em class="fa fa-trash"></em></a>
	                              		
	                            	</td>
	                          	</tr>
	                          {%endfor%}
                        </tbody>
                	</table>
            
              	</div>
              	{%else%}
              		<center><h3>No Draft so far.</h3></center>
              	{%endif%}
			</div><!-- panel -->
			<!-- end drafts -->

		</div><!-- wthree-->
	</div><!--md-9-->

	<style>
		.heading h2{
			color:#fa4b2a;
		}
		.heading hr{
			border:1px #fa4b2a solid;
		}
	</style>
{%endblock%}

