{%extends 'blog/base.html' %}

{%block title%}Login{%endblock%}

{%block top%}
	<div class="wthree">
		<span class="heading">
			<h2>Login</h2>
		</span>
		<hr/>
		<form method="POST" enctype="multipart/form-data" >
			{%csrf_token%}
			<table>
				<tr>
					<td colspan="2" style="padding-bottom:2px;color:#ff0000">{{error}}</td>
				</tr>
				<tr>
					<th>Username :</th>
					<td><input type="text" name="username" /></td>
				</tr>

				<tr>
					<th>Password :</th>
					<td><input type="password" name="password" /></td>
				</tr>

				<tr>
					<td colspan="2" align="center">
						<input type="submit" value="Login" />
					</td>
				</tr>
			</table>
		</form>
	</div>

	<!-- Styling table -->
	<style>
		.heading{
			color:#fa4b2a;
			text-align:center;
		}
		table{
			width:auto;
			margin-left: auto;
			margin-right: auto;
		}
		tr,td{
			padding:10px;
		}
		hr{
			border-top:2px solid #fa4b2a;
		}
	</style>
{%endblock%}	